<!DOCTYPE html>
<html>
<head>
<title>{{template "title" .}}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
<div class="navbar" style="padding: 0; margin: 0;"></div>
<nav class="navbar"></nav>
<xmp theme="united" style="display:none;">
{{template "markdown" .}}
</xmp>
<script src="https://strapdownjs.com/v/0.2/strapdown.js"></script>
<style>body { padding-top: 0}</style>
</html>
