<!DOCTYPE html>
<html>
<title>Algorithmic Problems @ HSE School of Linguistics</title>

<nav class="navbar"></nav>

<xmp style="display:none;">
# Test Report

Commit [6adsf698d]() from [mkuznets/hsecode-stdlib]() has been tested.

## Checks

* **format:** SUCCESS
* **lint:** FAILURE
  ```text
  `.tests.yaml` is invalid: it must contain a list of test   names only
  ```
* **format:** SUCCESS
* **build::primes:** FAILURE
  ```text
  `.tests.yaml` is invalid: it must contain a list of test names only
  ```
</xmp>
<script src="https://strapdownjs.com/v/0.2/strapdown.js"></script>

</html>
